include ../header.jade
div.detail-content#about
	figure.book
		ul.hardcover_front
			li
				div.coverDesign.blue
					span.ribbon 第3组
					h1 成员
					p 名单
			li

		ul.page
			li
			li.name-list
				h5 陈主润
				h5 曾祥林
				h5 麦浩松
			li
			li
			li

		ul.hardcover_back
			li
			li
		ul.book_spine
			li
			li
		//- figcaption
		//- 	h1 数字媒体技术基础