include ../header.jade
div.detail-content#application
	p.caption 渲染的应用领域有：计算机与视频游戏、模拟、电影或者电视特效以及可视化设计，每一种应用都是特性与技术的综合考虑。作为产品来看，现在已经有各种不同的渲染工具产品，有些集成到更大的建模或者动画包中，有些是独立产品，有些是开放源代码的产品。从内部来看，渲染工具都是根据各种学科理论，经过仔细设计的程序，其中有：光学、视觉感知、数学以及软件开发。
	img.img-400(src="/images/app_1.png")
	figure Figure1. 突出表现玻璃器皿以及液体质感的一幅渲染图
	hr
	p.caption 在好莱坞电影中，渲染也是每部电影制作的一项非常重要的工序。像我们平时看的好莱坞电影中的特效，都是后期渲染的结果。甚至是一些普通的场景，也是渲染出来的。
	img.img-400(src="/images/2012.jpg")
	figure Figure2. 电影《2012》场景图
	hr
	p.caption 在游戏制作中，尤其是现在的大型游戏中，渲染是极其重要的部分。渲染的速率和效果与游戏的体验紧紧相关，所以渲染优化是大型游戏制作中必须解决的一个问题。
	img.img-400(src="/images/app_2.jpg")
	figure Figure3. 游戏《看门狗》截图