include ../header.jade
div.detail-content#basics
	img(src="/images/techniques.png")
	p.caption 渲染的相关技术，从维基百科来看，主要有扫描线渲染与栅格化、光线投射、辐射着色和光线跟踪四种。（右图为不同渲染技术处理同一张场景图后的结果）
	p.caption <strong>扫描线渲染与栅格化</strong>，这种方法考虑场景中的物体并将它们投影一幅图像，但是缺乏一些高级的视觉效果。
	p.caption <strong>光线投射</strong>，将场景从不同视角观察，只根据几何与反射强度的基本光学原理计算观察到的图像，也可能使用蒙特·卡罗方法减少人为噪声。
	p.caption <strong>辐射着色</strong>，使用有限元分析方法模拟光线在表面的散射。
	p.caption <strong>光线跟踪</strong>，类似于光线投射，但是使用了更加先进的光学模拟方法，并且通常使用蒙特·卡罗方法以实现更加真实的结果，但是这样做的代价通常是速度的大幅度降低。
	p.caption 大多数高级软件使用多种技术的组合，以在合理的开销范围内，实现足够好的结果。