include ../header.jade
div.detail-content#category
	p.caption 渲染类别主要分为真实感渲染、交互式渲染和艺术化渲染。

	p.sub-title 真实感渲染
	p.caption 真实感渲染是一门利用计算机的强大计算能力，模拟现实生活中的各种视觉现象的科学。这门新兴的科学已有近50年的历史，在早期的发展阶段，由于计算机硬件能力的限制，主要的研究方向集中在如何简化物理数学模型以使计算机生成计算量不过于庞人而效果又可被接受的图形。随着硬件能力的提升，科学家和研究者开始把重心集中到如何创建出真实可信的图形上来。从70年代至今，有大批的研究者对这个领域做出了杰出的贡献，目前利用商业引擎制作的影视特效和广告效果图已经很难被肉眼识别出与真实效果的差别。但是目前渲染技术中所使用的各种算法模型仍然是现实情况的一种简化和模拟，要完全真实且实时的模拟现实效果，还有一段很长的路。
	img.img-400(src="/images/category_2.jpg")
	figure 真实感渲染图
	hr

	p.sub-title 交互式渲染
	p.caption 交互式渲染，使用特别的硬件（GPU）来渲染，其渲染速度非常快，也尽可能地有“真实感”，目前主要用于游戏场景的渲染。交互式渲染的目的就是提供一个响应式的用户体验。对于大型游戏来说，若渲染速度过慢或者“真实感”不够强，是吸引不了多少玩家的，哪怕你游戏的功能玩法有多吸引人。
	div.imgBox
		img(src="/images/category_3.png")
		img(src="/images/category_4.jpg")
	figure 交互式渲染图
	hr

	p.sub-title 艺术化渲染
	p.caption 艺术化渲染，就是指对图像、图形等进行风格化、艺术化的处理。相对于真实感画面来说，传统美术风格的画面具有较强的艺术感染力。艺术化渲染要做的，就是将传统美术和立体显示技术相结合，突破传统美术的二维表现形式，给观者带来更丰富的视觉体验。艺术化渲染得到的作品，可以被认为是一种独立的、特殊的视觉艺术。
	div.imgBox
		img(src="/images/category_1.jpg")
		img(src="/images/category_5.jpg")
	figure 艺术化渲染图
	hr