include ../header.jade
div.detail-content#movieRendering
	p.caption 电影渲染是一种离线渲染，通常在一个紧密相连的计算机组成的网络渲染集群。电影渲染就是从软件里的预览效果变到融合材质、光照、物理特性的最终效果的这个过程，渲染是CG制作中最重要的一步，关乎最终效果的呈现。如下，上图到下图的过程就是电影一个场景的渲染：
	img(src="/images/movie_1.jpg")
	img(src="/images/movie_2.jpg")
	p.caption 事实上，由于电影渲染是一种离线渲染（也叫非实时渲染），所以，电影渲染最后的效果比游戏渲染（实时渲染）要真实、震撼得多。但是，离线渲染也是非常耗时的，渲染一帧可能都要花上几个小时。在算法上，电影渲染可以使用各种遍历场景图的算法，于是就可以产生很逼真的光影效果，给人视觉上的冲击。
	div.imgBox
		img(src="/images/movie_3.png")
		img(src="/images/movie_4.jpg")
	figure 电影渲染图
	hr