include ../header.jade
div#introduction.detail-content
	p.caption 首先，让我们观看一个与特效制作相关的视频...
	video.intro-video(controls)
		source(src="/media/index.mp4" type="video/mp4")
	hr
	p.sub-title 什么是渲染？
	p.caption 渲染（英语：render）在电脑绘图中，是指：用软件从模型生成图像的过程。模型是用语言或者数据结构进行严格定义的三维物体或虚拟场景的描述，它包括几何、视点、纹理、照明和阴影等信息。图像是数字图像或者位图图像。渲染用于描述：计算视频编辑软件中的效果，以生成最终视频的输出过程。其实，渲染就是和绘制，画画一个意思，是个三维场景到二维图片的过程，只是相对来说它的逼格要高一点。
	p.sub-title 渲染的应用领域
	p.caption 计算机与视频游戏、模拟、电影或者电视特效以及可视化设计，每一种应用都是特性与技术的综合考虑。
	p.sub-title 渲染的主要分类
	p.caption 当前，计算机渲染主要分为<a href="/page/photorealisticRendering">真实感渲染</a>、<a href="/page/interativeRendering">交互式渲染</a>和<a href="/page/artisticRendering">艺术渲染</a>。<strong>真实感渲染</strong>，是指在物理上模拟光源和摄像机，使其看起来像真实世界。它是目前大多数三维动画作品追求的效果，主要用于虚拟现实、影视特效、图形仿真、广告、电脑游戏等领域。真实性和实时性是它的研究要点。<strong>交互式渲染</strong>，使用特别的硬件（GPU）来渲染，其渲染速度非常快，也尽可能地有“真实感”，主要用于游戏场景的渲染。<strong>艺术渲染</strong>，主要用于风格化，以及对艺术品和插图的渲染。