include ../header.jade
div.detail-content#personalView
	p.caption 计算机渲染在今天是与我们息息相关的。我们看的大部分电影、玩的大部分游戏都离不开计算机渲染。对于电影来说，我们看到的是渲染后的成果，因为它是非实时的渲染。所以相对来说，电影带给我们的真实感更加强烈。而对于游戏来说，它是实时渲染的，在我们要玩的时候，它才开始渲染。所以，游戏是不可能做到像电影一样有真实感的。电影可以渲染几小时，几天，甚至是几年，但游戏不行，你不可能呆呆地坐在电脑前等它渲染。即使如此，随着技术的进步，渲染速度和质量的提升，像我们所看到的一样，游戏带给我们的体验也越来越真实。
	img.img-700(src="/images/personal_1.png")
	figure 魔兽世界电影场景（左）和游戏场景（右）对比
	hr