include ../header.jade
div.detail-content#software
	p.caption 与计算机渲染相关的硬件主要就是显卡，就不介绍了。这里主要介绍下与其相关的一些软件。
	p.sub-title 1. RenderMan
	p.caption 业内公认的最好的渲染器是RenderMan。这个RenderMan是皮克斯内部使用的独门密器，不管是《玩具总动员》、《海底总动员》、《汽车总动员》、《飞屋环游记》、《怪兽大学》等等皮克斯动画都是由这款渲染器制作出来的。另外，乔治卢卡斯的工业光魔和彼得杰克逊的维塔数码是皮克斯数十年的合作伙伴，所以只要是这两家特效公司接手的电影，也基本是RenderMan渲染的。
	img.img-400(src="/images/software_1.jpg")
	figure RenderMan Logo
	hr
	p.sub-title 2. Maya
	p.caption Maya是美国Autodesk公司出品的世界顶级三维动画软件，应用对象是专业的影视广告，角色动画，电影特技等。Maya功能完善，工作灵活，易学易用，制作效率极高，渲染真实感极强，是电影级别的高端制作伙伴。
	img.img-400(src="/images/software_2.png")
	figure Maya Logo
	hr
	p.sub-title 3. Blender
	p.caption Blender 是一款开源的跨平台全能三维动画制作软件，提供从建模、动画、材质、渲染、到音频处理、视频剪辑等一系列动画短片制作解决方案。Blender为全世界的媒体工作者和艺术家而设计，可以被用来进行 3D 可视化，同时也可以创作广播和电影级品质的视频，另外内置的实时 3D 游戏引擎，让制作独立回放的 3D 互动内容成为可能。
	img.img-400(src="/images/software_3.png")
	figure Blender Logo
	hr